{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/employer_profile.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
/>
{% include "candidates/navbar.html" %}
<section class="vh-100" style="background-color: #84a8f0">
  <div class="container py-5 h-100">
    {% if emp_profile %} 
     {{emp_profile}}
   
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 text-center text-white bg-dark"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="{{ emp_profile.recruiter_name }}'s Avatar"
                class="img-fluid my-5"
                style="width: 80px"
              />
              <h5>{{ emp_profile.recruiter_name }}</h5>
              <p class="bg-warning m-3"><b>{{ emp_profile.company_name }}</b></p>
              
              <a href="{% url 'recruiters:update_recruiter_profile' %}">
                <i class="far fa-edit mb-5"></i>
              </a>
              
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>emp_profile Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="">{{ emp_profile.contact_email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="">{{ emp_profile.contact_phone }}</p>
                  </div>
                </div>
                <h4><b>Company Information</b></h4>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Company location</h6>
                    <p class="">{{emp_profile.location}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Recruiter Bio</h6>
                    <article class="">{{emp_profile.bio}}</article>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <a href="{{ emp_profile.facebook_url }}"
                    ><i class="fab fa-facebook-f fa-lg me-3"></i
                  ></a>
                  <a href="{{ emp_profile.twitter_url }}"
                    ><i class="fab fa-twitter fa-lg me-3"></i
                  ></a>
                  <a href="{{ emp_profile.instagram_url }}"
                    ><i class="fab fa-instagram fa-lg"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <p>No profiles available.</p>
    {% endif %} {% endblock %}
  </div>
</section>
