{% extends "base.html" %}
{% load static %}
{% block title %}Candidate Job ListPage{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

{% include "candidate_navbar.html" %}

{% if single_job %}
<!-- Job Cards -->
<div class="container my-5">
    <div class="row">
        <div class="input-group rounded mb-3">
            <input type="search" class="form-control rounded" placeholder="job title, keyword, company name" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span> 
        </div>
        <!-- Left Side: Job Cards -->
        <div class="col-md-8"> <!-- Adjusted to 4 columns for the job list -->
            
            
                <article class="card-body">
                    <h5 class="card-title"><b>{{ single_job.title }}</b></h5>
                    <h5 class="card-title"><b>{{ company }}</b></h5>

                    <p class="card-text">{{ single_job.description|truncatewords:10 }}</p>
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <strong>Location:</strong> {{ single_job.location }}</p>
                    <p><i class="fa-solid fa-briefcase"></i> <strong>single_job Type:</strong> {{ single_job.get_single_job_type_display }}</p>
                    <p class=''> <strong>Experience Required:</strong> {{ single_job.experience_required }}</p>
                    <p> <strong>Work Mode:</strong> {{ single_job.work_mode }}</p>
                    <strong>Job Requirements:</strong><p class="card-text">{{ single_job.requirements|truncatewords:100 }}</p>
                    <strong>Job Specifications:</strong>
                    <p class="justify-text">{{ single_job.specifications|truncatewords:100 }}</p>
                    {% comment %} <p class="justify-text">Company name{{ job.recruiter }}</p>  {% endcomment %}
                    <a href="" class="btn btn-primary">Apply Job</a>
                        
                    
                </article>
            </div>
            
        </div>

        <!-- Right Side: Job Details -->
        
    </div>
</div>
{% endif %}

<!-- Footer -->
<footer class="bg-light py-3">
    <div class="container">
        <p class="text-center mb-0">&copy; 2024 Job Portal. All Rights Reserved.</p>
    </div>
</footer>

<!-- JavaScript to handle job clicks -->

{% endblock %}
