{% extends "base.html" %}
{% load static %}
{% load is_job_already_applied %}
{% load is_job_already_saved %}
{% block title %}Candidate Job ListPage{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


{% include "candidate_navbar.html" %}
 
{% if single_job %}
<!-- Job Cards -->
<div class="container-fluid">
  <div class="row align-items-center mb-3">
    <div class="col-lg-8 mb-4 mb-lg-0">
      <div class="d-flex align-items-center">
        <div class="border p-2 d-inline-block mr-3 rounded">
          <img src="{{ com_logo.url }}" alt="Company Logo" style="width: 100px; height: 80px;">
        </div>
        <div>
          <h5>{{ single_job.title }}</h5>
          <div>
            <span class="ml-0 mr-2 mb-2 "><i class="fa-solid fa-briefcase "></i> <a class="text-success" href="">{{ company }}</a></span>
            <span class="m-1"><i class="fa-sharp fa-solid fa-location-dot"></i> {{ single_job.location }}</span>
            <span class="m-1"><i class="fa-solid fa-clock"></i></i></i>
              <span class="text-success">

                {% if job.job_type == '1' %}
                Full Time
                {% elif job.job_type == '2'%}
                Part Time
                {% else %}
                Internship
                {% endif %}
              </span>
            </span>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <!-- Left Side: Job Cards -->
      <div class="col-lg-8"> <!-- Adjusted to 4 columns for the job list -->
        <article class="card-body">
          <strong><i class="fa-thin fa-subtitles"></i> Job Description</strong>
          <p class="card-text">{{ single_job.description|truncatewords:100 }}</p>

          <strong>Job Requirements and skills </strong>
          <p class="card-text" name="editor1">
             <ul>
              {% for bullet in requirements_bullets %}
                  {% if bullet.strip %} <!-- Skip any empty strings -->
                      <li>{{ bullet|safe }}.</li>
                  {% endif %}
              {% endfor %}
              </ul></p>
          <strong>Job Specifications:</strong>
          <p class="justify-text">
            <ul>
            {% for bullet in specifications_bullets %}
                {% if bullet.strip %} <!-- Skip any empty strings -->
                    <li>{{ bullet|safe }}.</li>
                {% endif %}
            {% endfor %}
            </ul>
         </p>
          {% comment %} <p class="justify-text">Company name{{ job.recruiter }}</p> {% endcomment %}
          <!-- saved job -->
          <div class="row">
            <!-- saved job -->
            <div class="col-4">
              {% if user.is_authenticated and user.user_type == 'candidate' %}
                  {% is_job_already_saved single_job request.user as is_saved %}
                   
                  {% if is_saved %}
                  <span class="btn btn-block btn-success btn-md">Already Saved</span>
                  <a href="{% url 'JobApp:do_comment'  %}">Comments:</a>
                  {% else %}
                     <form action="{% url 'JobApp:bookmark_view' single_job.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="job" value="{{single_job.id}}">
                        <input type="submit" class="btn btn-block btn-warning btn-md" value="Saved Now" />
                     </form>
                  {% endif %}
              {% elif request.user.id == single_job.user.id and user.user_type == 'recruiter' %}
                <button  class="btn btn-block btn-danger btn-md">Delete</button>
              {% endif %}      
            </div>
            <!-- Apply For job -->
            <div class="col-4 ml-5">

              {% if user.is_authenticated and user.user_type == 'candidate' %}
              {% is_job_already_applied single_job request.user as is_applied %}
              {% if is_applied %}
              <span class="btn btn-block btn-danger btn-md">Already Applied</span>
              {% else %}
              <form action="{% url 'JobApp:apply_job' single_job.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="job" value="{{ single_job.id }}">
                <input type="submit" class="btn btn-block btn-primary btn-md" value="Apply Now" />
              </form>
              {% endif %}
              {% elif request.user.id == single_job.user.id and user.user_type == 'recruiter' %}
              <a href="" class="btn btn-block btn-light btn-md">Edit</a>
              {% else %}
              <a href="" class="btn btn-block btn-primary btn-md">Publish Your Job</a>
              {% endif %}
               Comments:  {{comment.comment}}
            </div>
          </div>
        </article>
      </div>

      <!-- Right Side: Job Details -->
      <div class="col-lg-4 ">
        <div class="bg-light p-3 border rounded mb-4 mr-3">
          <h2 class="text-success  mt-3 h5 pl-3 mb-3 ">Job Summary</h2>
          <ul class="list-unstyled pl-3 mb-0">
            <li class="mb-2"><strong class="text-black">Published on:</strong> {{ single_job.timestamp|date:"d M Y" }}
            </li>
            <li class="mb-2"><strong class="text-black">Vacancy:</strong> {{ single_job.Vacancy }}</li>
            <li class="mb-2"><strong class="text-black">Year of Passed out:</strong> {{ single_job.passedout }}</li>
            <li class="mb-2"><strong class="text-black">Employment Status:</strong>
              {% if single_job.job_type == 'full-time' %}
              Full Time
              {% elif single_job.job_type == 'part-time'%}
              Part Time
              {% else %}
              Internship
              {% endif %}
            </li>
            <li class="mb-2"><strong class="text-black">Experience:</strong> {{ single_job.experience_required }}</li>
            <li class="mb-2"><strong class="text-black">Work mode:</strong> {{ single_job.work_mode }}</li>
            <li class="mb-2"><strong class="text-black">Job Location:</strong> {{ single_job.location }}</li>
            <li class="mb-2"><strong class="text-black">Salary:</strong> {{ single_job.salary }}</li>
            <li class="mb-2"><strong class="text-black">Gender:</strong> {{ single_job.get_gender_display }}</li>
            <li class="mb-2"><strong class="text-black">Application Deadline:</strong> {{ single_job.end_date|date:"d M Y" }}
            </li>
          </ul>
        </div>
        <div class="bg-light p-1 border rounded mr-3">
          <h3 class="text-primary text-align-center mt-1 h6 mb-1 ">Share</h3>
          <div class="px-3">
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="fab fa-facebook"></span></a>
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="fab fa-twitter"></span></a>
            <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="fab fa-instagram"></span></a>
          </div>
        </div>

      </div>
    </div>
    
  {% endif %}

  <!-- Footer -->
<div class="container-fluid ">
  
    

  {% include "footer.html" %}
</div>  

{% endblock %}