
        .container {
            margin: 10px;
        }

        .col-md-6 {
            {% comment %} position: relative; {% endcomment %}
            display: inline-block;
        }

        /* Style for the ellipsis icon */
        .fa-ellipsis-vertical {
            font-size: 24px;
            cursor: pointer;
        }

.button-box {
    display: none;
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #f1f1f1;

    z-index: 10;
    /* display: flex; */
    flex-direction: column; Stack the buttons vertically
    gap: 10px; /* Adds space between buttons */
}

/* Styling for the buttons inside the box */
.button-box button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: max-content;
    display: flex;
    
    align-items: center; /* Align icon and text in a row */
}

.button-box button ,i {
    margin-right: 15px; /* Space between icon and text */
    
    border: none;

}
.button-box button:hover {
    background-color: #e6ecff;
}
    
   