<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Job_Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Admin</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right mr-1">
        {% if user.is_authenticated %}
            
         <!-- Check user type and show the appropriate profile link -->
         {% if user.user_type == 'candidate' %}
         <li><a href="{% url 'Account:candidate_profile' %}">Candidate/</a></li>
     {% elif user.user_type == 'recruiter' %}
         <li><a href="{% url 'Account:recruiter_profile' %}">Recruiter/</a></li>
     {% endif %}
     
     <!-- Other links common to both user types --> 
        <li class="nav-item">
            <a href="{% url 'Account:signout' %}" class="nav-link"> {{ request.user }}logout</a>
        </li>
        {% else %}
      <li class="nav-item">
          <a href="{% url 'Account:signin' %}" class="nav-link"> SignIn</a>
      </li>
      
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'JobApp:job_view' %}" class="nav-link">Find job</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>