<style>
  /* Fix the navbar to the top */
.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000; /* Bootstrap default z-index for fixed elements */
}
body {
  padding-top: 56px; /* Adjust this value based on your navbar height */
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Job Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'JobApp:job_view' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'JobApp:dashboard_view' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Admin</a>{{ forloop.counter }}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Post a job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""> Find CVs</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{% url 'JobApp:about_us' %}" data-bs-toggle="modal" data-bs-target="#contactModal">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'JobApp:contact_us' %}">Contact us</a>
        </li> {% endcomment %}
        {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
          Contact Us
      </button> {% endcomment %}
      
        
        
      </ul>
      <ul class="nav navbar-nav navbar-right mr-1">
        {% if user.is_authenticated %}
            
         <!-- Check user type and show the appropriate profile link -->
         {% comment %} {% if user.user_type == 'candidate' %}
         <li class="nav-item"><a class="nav-link" href="{% url 'Account:candidate_profile' %}">Candidate/</a></li>
     {% elif user.user_type == 'recruiter' %}
         <li class="nav-item"><a class="nav-link" href="{% url 'Account:recruiter_profile' %}">Recruiter/</a></li>
     {% endif %} {% endcomment %}
     
     <!-- Other links common to both user types --> 
        <li class="nav-item d-flex justify-content-center">
          <a href="{% url 'Account:recruiter_profile' %}" class="nav-link"> {{ request.user }}</a> <a href="{% url 'Account:signout' %}" class="nav-link"> logout</a>
        </li>
        {% else %}
        <li class=" nav-item "><a href="" class="nav-link"> |</a></li>
        <li class="nav-item">
          <a href="{% url 'Account:signup' %}" class="nav-link"> Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'Account:signin' %}" class="nav-link"> Sign in</a>
        </li>
      
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'JobApp:job_view' %}" class="nav-link">Find job</a>
        </li>
      </ul>
      
    </div>
  </nav>